@import "tailwindcss";
@utility masked-img {
  mask-image: url("/images/vr-mask.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 30%;
}

@layer components {
  #hero {
    @apply relative h-screen overflow-hidden bg-[#06071B];
  }
}
